<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI" 
           path="*" 
           verb="*" 
           modules="FastCgiModule" 
           scriptProcessor="C:\fourscreens\venv\Scripts\python.exe|C:\fourscreens\venv\Lib\site-packages\wfastcgi.py" 
           resourceType="Unspecified" 
           requireAccess="Script"/>
    </handlers>
    
    <httpErrors errorMode="Detailed" />
    <directoryBrowse enabled="false" />
    
    <rewrite>
      <rules>
        <rule name="Static Files" stopProcessing="true">
          <match url="^static/.*" />
          <action type="None" />
        </rule>
        <rule name="Configure Python" stopProcessing="true">
          <match url="(.*)" ignoreCase="false" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.py/{R:1}" appendQueryString="true" />
        </rule>
        <rule name="Django Routes" stopProcessing="true">
          <match url=".*" />
          <conditions>
              <add input="{REQUEST_URI}" pattern="^/static/" negate="true" />
          </conditions>
          <action type="Rewrite" url="wfastcgi.py" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>

  <appSettings>
    <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
    <add key="PYTHONPATH" value="C:\fourscreens\backend" />
    <add key="DJANGO_SETTINGS_MODULE" value="backend.settings" />
    <add key="WSGI_LOG" value="C:\fourscreens\logs\wsgi.log" />
  </appSettings>
</configuration>